/* Banner section */
.bannner-container {
  margin: 0 auto;
}
.banner-section {
  display: grid;
  width: 100%;
}

.banner__image {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.banner__body {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 45%;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  padding-left: 0.625rem;
}

/* .banner__text {
} */

.banner__title {
  margin: 0;
  margin-bottom: clamp(1rem, 2.604vw, 3rem);
  @include interpolate(line-height, 20rem, 120rem, 1.2rem, 3.625rem);
  @include interpolate(font-size, 20rem, 120rem, 1.1428rem, 2.625rem);
}

.banner__list {
  list-style: url(/img/circle-list.svg) inside;
}

.banner__list-item {
  line-height: clamp(1.2rem, 2vw, 1.75rem);
  @include interpolate(font-size, 20rem, 120rem, 1rem, 1.5rem);
  &:not(:last-child) {
    margin-bottom: clamp(0.3125rem, 1vw, 2rem);
  }
}
