/* Banner section */
.bannner-container {
  margin: 0 auto;
}
.banner-section {
  display: grid;
  width: 100%;
}

.banner__image {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.banner__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  padding-left: 0.625rem;
}

/* .banner__text {
} */

.banner__title {
  margin: 0;
  @include interpolate(line-height, 20rem, 120rem, 3rem, 3.625rem);
  @include interpolate(font-size, 20rem, 120rem, 2rem, 2.625rem);
  margin-bottom: 1rem;
}

.banner__list {
  list-style: url(../img/dest/circle-list.svg) inside;
}

.banner__list-item {
  line-height: 1.75rem;
  @include interpolate(font-size, 20rem, 120rem, 2rem, 1rem);
  &:not(:last-child) {
    margin-bottom: clamp(1.5125rem, 1vw, 2rem);
  }
}
