/* Catalog Section */

.catalog-section {
  padding: 7.5rem 0;
}

/* .catalog-container {
} */

.catalog__title {
  // @include interpolate(font-size, $mobile-size, $desktop-size, 3rem, 2.375rem);
}

.catalog__text {
  margin: 0;
}

.catalog__top {
  margin-bottom: $margin;
}
.catalog__cards {
  display: flex;
  gap: 1rem;
}

.cards__category {
  display: grid;
}

.category__image {
  grid-column: 1;
  grid-row: 1;
}

.category__text {
  height: 20%;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  margin: 0;
  color: $white;
  font-weight: normal;
  text-align: center;
}

.catalog__bottom {
  margin-top: $margin;
}

/* .catalog__text-bottom {
} */

.catalog__button {
  margin-top: $margin;
}
