/* Header section */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.875rem auto 3.125rem;
  row-gap: 1.625rem;
}

.mob-header {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding-top: 2rem;
  overflow: auto;
}

.mob-container {
  display: none;
}

.header__top-header {
  background: $light-grey;
}

.header__top-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-nav {
  height: 100%;
  display: flex;
  flex: 0 0 26rem;
  align-items: center;
}

.header__top-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.header__top-list-item {
  list-style: none;
}

.header__top-link {
  color: $dark-grey;
}

.header__nav-cart {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-right: 1.25rem;
  &::before {
    content: url(/img/src/cart-icon.svg);
    position: absolute;
    transform: translate(-25px, 1px);
  }
}

.header__link--red {
  color: $red;
}

/* .header_middle {
} */

.header__middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-image {
  min-width: 5rem;
}

/* .header__search-bar {
} */

.header__form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 20rem;
  background: $white;
}

.header__submit-btn {
  position: relative;
  top: 0;
  right: -3.25rem;
  margin-left: -3.25rem;
  width: 100%;
  height: 3rem;
  width: 3rem;
  z-index: 3;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  &::before {
    content: url(/img/src/search-icon.svg);
  }
}

.header__input {
  position: relative;
  width: 100%;
  height: 50px;
  padding-left: 55px;
  border: 1px solid $light-grey;
  outline: none;
  border-radius: 100px;
  font-size: 1rem;
}

.header__box {
  display: contents;
}

.header__number {
  font-weight: bold;
  font-size: 1.25rem;
}

.btn-feedback {
  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: url(/img/src/phone-icon.svg);
    position: relative;
    top: 1px;
    right: 15px;
  }
}

.header__main {
  background-color: $dark-grey;
}

.header__main-container {
  height: 100%;
  display: flex;
}

.header__main-nav {
  display: flex;
  flex: 1 0 100%;
}

.header__main-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__main-list-item--image {
  position: relative;
  padding-left: 1.875rem;
  &::before {
    content: url(/img/src/catalog-logo.svg);
    position: absolute;
    transform: translate(-30px, 1px);
  }
}

.header__main-link {
  color: $white;
}
