@mixin interpolate(
  $properties,
  $min-screen,
  $max-screen,
  $min-value,
  $max-value
) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $min-screen,
          $min-value,
          $max-screen,
          $max-value
        );
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a * 100}vw #{$sign} #{$b});
}

@import url(https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext);

$dark-grey: #373435;
$red: #d12023;
$grey: #5b5b5b;
$light-grey: #e7e7e7;
$white: #ffffff;

$h1: 2.625rem;
$h3: 1.875rem;
$text-1: 1rem;
$h2: 2.375rem;
$h4: 1.625rem;
$text-2: 0.8125rem;

$margin: 3.125rem;
$padding: 7.5rem;
$margin-mobile: 1.25rem;
$padding-mobile: 3.125rem;

$desktop-size: 120rem;
$mobile-size: 20rem;

$media768: 48rem;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  color: $dark-grey;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
  @media (max-width: 48rem) {
    padding: 0 0.5rem;
  }
}

.link {
  text-decoration: none;
}

.nav {
  height: 100%;
}

.list {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 1rem 3.375rem;
  border-radius: 100px;
  background-color: $red;
  text-decoration: none;
  color: $white;
}

.title {
  margin: 0;
  margin-bottom: 3.125rem;
  font-family: "Open Sans";
  font-size: $h2;
  color: $red;
}

@import "header";
@import "banner";
@import "catalog";
@import "news";
